
.card_top{
    text-align:center;
    background-color:rgb(180, 40, 40);
}
.logo{
    width:4em;
    background-color:black;
    outline-style: none;
}

.text{
    margin:0 0 0 0px;
    font-size:1.5rem;
    color:aliceblue;
    padding: 0.2rem 2.4rem 0.2rem 2.4rem;
}

.logout{
    position:absolute;
    transform: translate(100%,0%);
    
}